**Importing the library we will use:**

In [1]:
import pandas as pd
df=pd.read_csv("/content/mobile_sales_data-DESKTOP-M7R9051.csv")

**To get the first # of rows:**

In [5]:
df.head(3)

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
0,Mobile Phone,Motorola,88EB4558,Site candidate activity company there bit insi...,78570,45140,45141,6,William Hess,South Kelsey,Central,NaN,Snapdragon 7 Gen,12GB,128GB,NaN
1,Laptop,Oppo,416DFEEB,Beat put care fight affect address his.,44613,45202,45205,1,Larry Smith,North Lisa,South,Ryzen 5,Ryzen 5,8GB,512GB,256GB
2,Mobile Phone,Samsung,9F975B08,Energy special low seven place audience.,159826,45735,45736,5,Leah Copeland,South Todd,Central,NaN,MediaTek Dimensity,8GB,256GB,NaN

**To get the last # of rows:**

In [6]:
df.tail(3)

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
49997,Laptop,Toshiba,CAD89A93,Test floor tax together out adult discover own...,66502,45307,45356,6,Joseph Martin,Huntfurt,North,i5,i5,4GB,64GB,2TB
49998,Mobile Phone,Lenovo,78566C17,Away also magazine receive such lay.,158883,45061,45071,2,Gabrielle Barnett,Heidiberg,North,NaN,Snapdragon 7s,12GB,1TB,NaN
49999,Laptop,Asus,9C3FC57C,Role ahead common listen idea few blood half.,86483,45167,45225,7,Robert Sampson,West Elizabethchester,East,i7,i7,12GB,128GB,256GB

**To get all info about the dataset:**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  50000 non-null  object
 1   Brand                    50000 non-null  object
 2   Product Code             50000 non-null  object
 3   Product Specification    50000 non-null  object
 4   Price                    50000 non-null  int64
 5   Inward Date              50000 non-null  int64
 6   Dispatch Date            50000 non-null  int64
 7   Quantity Sold            50000 non-null  int64
 8   Customer Name            50000 non-null  object
 9   Customer Location        50000 non-null  object
 10  Region                   50000 non-null  object
 11  Core Specification       25017 non-null  object
 12  Processor Specification  50000 non-null  object
 13  RAM                      50000 non-null  object
 14  ROM                      50000 non-null  object
 15  SSD                      25017 non-null  object
dtypes: int64(4), object(12)
memory usage: 6.1+ MB

**To get some summary statistics for the dataset:**

In [8]:
df.describe()

               Price   Inward Date  Dispatch Date  Quantity Sold
count   50000.000000  50000.000000   50000.000000    50000.00000
mean   102641.407080  45370.737480   45401.329520        5.51378
std     56363.550361    210.964495     211.611159        2.88101
min      5008.000000  45006.000000   45008.000000        1.00000
25%     53487.000000  45189.000000   45219.000000        3.00000
50%    103072.000000  45370.000000   45400.000000        6.00000
75%    151396.250000  45553.000000   45584.000000        8.00000
max    199999.000000  45736.000000   45795.000000       10.00000

**To get the total number of columns and rows:**

In [10]:
df.shape

(50000, 16)

**To mention all columns found in the dataset:**

In [11]:
df.columns

Index(['Product', 'Brand', 'Product Code', 'Product Specification', 'Price',
       'Inward Date', 'Dispatch Date', 'Quantity Sold', 'Customer Name',
       'Customer Location', 'Region', 'Core Specification',
       'Processor Specification', 'RAM', 'ROM', 'SSD'],
      dtype='object')

**To get the lenght of the dataset (Number of Rows)**

In [12]:
len(df)

50000

**To know if there is null values or not:**

In [13]:
df.isnull()

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
49998,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
49999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

**To know the number of null fields:**

In [14]:
df.isnull().sum()

Product                        0
Brand                          0
Product Code                   0
Product Specification          0
Price                          0
Inward Date                    0
Dispatch Date                  0
Quantity Sold                  0
Customer Name                  0
Customer Location              0
Region                         0
Core Specification         24983
Processor Specification        0
RAM                            0
ROM                            0
SSD                        24983
dtype: int64

**To group data by by a specific thing:**

In [15]:
df.groupby("Brand")["Quantity Sold"].sum()

Brand
Acer         13854
Apple        14197
Asus         12999
Dell         13419
Google       14412
HP           13600
Huawei       13805
Lenovo       13723
Microsoft    13586
Motorola     13888
Nokia        14239
OnePlus      13880
Oppo         13389
Realme       13212
Redmi        13948
Samsung      14033
Sony         14043
Toshiba      13996
Vivo         13761
iQOO         13705
Name: Quantity Sold, dtype: int64

**To sort values by a specific metric:**

In [17]:
df.sort_values("Brand")

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
28509,Laptop,Acer,2583D3F0,Article yourself affect yet administration not...,132105,45411,45435,4,Shane Vargas,Clarkmouth,South,Ryzen 3,Ryzen 3,12GB,512GB,2TB
42457,Laptop,Acer,5523B06C,Catch remember southern heart model tend profe...,128985,45547,45574,1,Anna Crawford,South Darrenland,East,Ryzen 5,Ryzen 5,8GB,1TB,256GB
46590,Laptop,Acer,7567ABC8,Response must someone outside billion develop.,14605,45671,45702,4,Trevor Robertson,Andrewstad,East,Ryzen 3,Ryzen 3,16GB,256GB,2TB
46588,Laptop,Acer,0C6FA0D6,Owner president party change old assume simila...,178248,45178,45227,10,William Hamilton,Lake Hannah,Central,Ryzen 7,Ryzen 7,8GB,128GB,256GB
20591,Laptop,Acer,CD81658D,Big have partner same mission manage oil evide...,92592,45052,45085,4,Melissa Burgess,Troyfort,West,Ryzen 7,Ryzen 7,4GB,512GB,1TB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19634,Laptop,iQOO,32B996C3,Surface central art woman money soldier play h...,18597,45722,45754,3,Gary Rodriguez,Matthewfort,East,Ryzen 7,Ryzen 7,16GB,64GB,1TB
34799,Laptop,iQOO,F041E139,Sea same when event interesting bring Democrat...,108609,45186,45200,10,Jennifer Marks,West Matthewmouth,East,Ryzen 5,Ryzen 5,6GB,128GB,512GB
9344,Laptop,iQOO,F6BAF3BF,Politics month say agreement it scientist once...,191448,45352,45354,4,Dr. Jason Allen Jr.,West Eric,South,Ryzen 5,Ryzen 5,16GB,64GB,1TB
4969,Mobile Phone,iQOO,CC7562FC,Age statement together rich production provide...,12540,45632,45666,4,Ashley Alvarado,Cunninghamview,Central,NaN,Apple A-Series,32GB,512GB,NaN
19733,Laptop,iQOO,F5D5EC98,Third trip dark window stock third down call w...,194749,45345,45369,1,Arthur Kelly,Martinezville,Central,i7,i7,12GB,64GB,512GB

To get all rows that has a specific data:

In [18]:
df[df["Brand"]== "Apple"]

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
7,Laptop,Apple,D58FF785,Reality sea weight thing newspaper good next g...,15041,45228,45280,1,Danielle Smith,North Travis,South,i7,i7,12GB,128GB,256GB
8,Laptop,Apple,4FC302CF,Owner necessary total determine view stock chu...,186647,45196,45210,3,Kyle Brown,West Dakota,East,i5,i5,16GB,64GB,1TB
10,Mobile Phone,Apple,F54013D6,To say system loss near him.,51251,45019,45035,9,Ms. Katie Anderson,Lake Laurenfort,North,NaN,Snapdragon 8 Gen,4GB,256GB,NaN
92,Mobile Phone,Apple,0C376DC0,Worker pretty lead agent there performance hold.,66597,45617,45618,10,Blake Fitzpatrick,New Sarafort,Central,NaN,Samsung Exynos,4GB,128GB,NaN
94,Laptop,Apple,2E475456,Vote chance toward meeting manager hot music s...,150198,45082,45134,10,Michelle Ruiz,Longside,West,i3,i3,8GB,256GB,2TB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49893,Laptop,Apple,E92A136C,Trade mother however generation prevent girl.,159834,45474,45513,4,John Williams,Allenshire,East,Ryzen 9,Ryzen 9,8GB,64GB,1TB
49928,Mobile Phone,Apple,EDF904DD,Picture century through just black big another...,76605,45520,45542,9,Jane Miranda,Darrylfurt,Central,NaN,Snapdragon 7 Gen,4GB,64GB,NaN
49956,Laptop,Apple,361A5C77,Important and resource live even security begi...,112627,45262,45307,4,April Ray DDS,Adamport,South,i3,i3,8GB,1TB,512GB
49979,Mobile Phone,Apple,EA3CF7E0,Oil forget memory coach couple chair sense tea...,143868,45013,45025,6,Steven Gibson,South Jessica,South,NaN,MediaTek Dimensity,6GB,64GB,NaN
49992,Laptop,Apple,D0D615DC,Few either these deal future truth stand simil...,156276,45363,45407,10,Jody Cole,New Dennisview,East,Ryzen 3,Ryzen 3,12GB,128GB,256GB