<a href="https://colab.research.google.com/github/7oda234/INFORMATION-RETREVAL-PROJECT/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**import numpy and pandas**

In [57]:
import numpy as np
import pandas as pd

**Load the data**

In [58]:
df = pd.read_csv('mobile_sales_data.csv')

**Extract columns**

In [59]:
price = df['Price'].values
qty   = df['Quantity Sold'].values
dis   = df['Dispatch Date'].values
ward  = df['Inward Date'].values
ram   = df['RAM'].values
rom   = df['ROM'].values
brand = df['Brand']
R     = df['Region'].values

**Average price**

In [69]:
P = np.mean(price)
print(P)

102641.40708

**Total units sold**

In [61]:
Q = np.sum(qty)
print(Q)

275689

**Most expensive item**

In [62]:
p= np.max(price)
print(p)

199999

**Average days in stock**

In [63]:
dw = (dis - ward).mean()
print(dw)

30.59204

**Price volatility**

In [64]:
ps = np.std(price)
print(ps)

56362.986723013935

**Top 10 companies**

In [65]:
B5 = df['Brand'].value_counts().head(10)
print(B5)

Brand
Google     2598
Nokia      2571
Apple      2564
Samsung    2558
Toshiba    2555
Sony       2547
OnePlus    2541
Acer       2533
Redmi      2529
Huawei     2497
Name: count, dtype: int64

**Sales by region**

In [66]:
df['Region'].value_counts()

Region
West       10288
South      10055
North       9954
Central     9860
East        9843
Name: count, dtype: int64

**Most common ROM size**

In [67]:
df['ROM'].mode()[0]

'256GB'

**Total revenue**

In [70]:
print((price * qty).sum())

28279081122

**Smallest storage size**

In [71]:
print(np.min(rom))

128GB

**Average units sold per transaction**

In [72]:
print(qty.mean())

5.51378